html,
body {
    padding: 0;
    margin: 0;
}

.tabsWrapper {
    width: 40%;
    top: 30px;
    border: 1px solid #ccc;
    padding: 5px;
}

.tabsWrapper section[role="tablist"] {
}

[aria-hidden="true"] {
    display: none;    
}
